{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "prettier"
  ],
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-absolute-path": 0,
    "import/no-cycle": 0,
    "prettier/prettier": "error"
  }
}
